<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Aneesh Neelam <neelam.aneesh@gmail.com>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status | VITacademics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/status.css"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/foundation/css/foundation.css"/>
    <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">VITacademics</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li><a href="/register">Register</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </section>

</nav>

<div class="row" style="text-align: center">
    <div class="large-12 columns">
        <h2>System Status</h2>
    </div>
</div>

<div class="row" style="text-align: center">
    <div class="large-12 columns">
        <h4>Host: <a href=<%= hostname %>><%= host %></a></h4>

    </div>
    <div class="large-12 columns">
        <h4>Host Platform: <%= platform %></h4>
    </div>
    <div class="large-12 columns">
        <h4>Host Architecture: <%= arch %></h4>
    </div>
    <div class="large-12 columns">
        <h4>Node Engine: <%= engine %></h4>
    </div>
</div>
<div class="row" style="text-align: center">
    <div class="large-12 columns">
        <h5>Server status: <%= serverStatus %></h5>
    </div>
    <div class="large-12 columns">
        <h6>Last Updated: <%= lastUpdated %></h6>
    </div>
</div>
<footer>
    <div class="large-12 columns">
        <hr>
        <h6 style="text-align: center">VITacademics is developed as an independent project by <a
                    href="mailto:neelam.aneesh@gmail.com">Aneesh Neelam (11BCE0260)</a> of <a
                    href="http://vit.ac.in/">VIT
                University</a>.</h6>
    </div>
</footer>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>